
.home-wrapper {
    width: 95vw;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

.my-items-container {
    width: 95vw;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

.item-actions {
    margin-bottom: 2%;
}

.my-items-card-container {
    display: flex;
    flex-direction: row;
    width: 95vw;
    margin-top: 2%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}